:root {
  --acent-cl: #2196f3;
  --secondary-text-cl: #212121;
  --main-text-cl: #757575;
  --white: #ffffff;
  --work-portfolio-bg: #e5e5e5;
  --team-bg-cl: #f5f4fa;
  --footer-bg-cl: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --socialnetworks-icon: #afb1b8;
}
