.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: #fff;
}

.close {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close:hover,
.close:focus {
  cursor: pointer;
  fill: $acent-cl;
}

textarea {
  resize: none;
  height: 120px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  position: relative;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-input:hover ~ .form-svg,
.form-input:focus ~ .form-svg,
.form-input:hover,
.form-input:focus,
.form-comment:hover,
.form-comment:focus {
  fill: $acent-cl;
  border-color: $acent-cl;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  outline: none;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-cl;
}
.form-comment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-svg {
  position: absolute;
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  margin-bottom: 0;
  background-color: white;
}

.person-svg {
  left: 11px;
  bottom: 11px;
}

.mobilephone-svg {
  left: 12px;
  bottom: 11px;
}

.message-svg {
  left: 13.5px;
  bottom: 14px;
}

.form-checkbox {
  display: block;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.icon-span {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms linear;
}

.checkbox-input:checked + .icon-span {
  border-color: transparent;

  background-image: url("../images/icon\ check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-label {
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.41;
  letter-spacing: 0.03em;

  color: $main-text-cl;
}

.btn-Backdrop {
  padding: 10px 55px 10px 56px;
}

.btn-Backdrop:hover,
.btn-Backdrop:focus {
  cursor: pointer;
  background-color: $acent-cl;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.checkbox-link {
  color: $acent-cl;
}

.checkbox-link:hover,
.checkbox-link:focus {
  color: $acent-cl;
}
